<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Transaction</title>
</head>
<body>
    <h1>Add Transaction</h1>

    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Додати</button>
    </form>

    <a href="{% url 'current_month_statistics' %}">На головну</a>
    <a href="{% url 'custom_period_statistics' %}">Статистика за інший період</a>
</body>
</html>
