<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Month Statistics</title>
</head>
<body>
    <h1>Month Statistics</h1>

    <p>Доходи: ₴{{ income }}</p>
    <p>Витрати: ₴{{ expenses }}</p>
    <p>Баланс: ₴{{ balance }}</p>

    <a href="{% url 'add_transaction' %}">Додати транзакцію</a>
    <a href="{% url 'custom_period_statistics' %}">Статистика за інший період</a>
</body>
</html>
