<!-- У вашому файлі templates/custom_period_statistics.html -->

{% extends 'base.html' %}

{% block title %}Статистика{% endblock %}

{% block header %}Статистика за вибраний період{% endblock %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Показати статистику</button>
</form>

{% if start_date and end_date %}
<p>Статистика за період з {{ start_date }} по {{ end_date }}</p>
<p>Доходи: ₴{{ income }}</p>
<p>Витрати: ₴{{ expenses }}</p>
<p>Баланс: ₴{{ balance }}</p>
{% endif %}
<a href="{% url 'current_month_statistics' %}">На головну</a>
{% endblock %}
